/*分页查询表单中的选择单位或部门组件按钮*/
.lookupCompanyDepartmentBtn>a {
    position: relative;
    left: 475px;
}

.lookupCompanyDepartmentBtn>span {
    margin: 0 10px;
}

/*单位与部门选择组件*/
.lookupCompanyDepartmentTree {
    position: relative;
}

.lookupCompanyDepartmentTree>div {
    border: 1px solid #B8D0D6;
    position: absolute;
    padding: 10px;
    width: 261px;

}

.lookupCompanyDepartmentTree>div:first-child {
    left: 7px;
}

.lookupCompanyDepartmentTree>div:last-child {
    right: 7px;
}

.lookupCompanyDepartmentTree div>span:first-child {
    overflow: hidden;
    height: 14px;
    padding: 2px 5px 2px 20px;
    line-height: 14px;
    background: url("../default/images/dialog/chart_organisation.png") no-repeat;
    font-weight: bold;
}

.lookupCompanyDepartmentTree div>ul{
    height: 336px;
    overflow:auto;
    margin: 2px;
}

/*弹出框的按钮行*/
.dialogBtnRow{
    position: relative;
}

/*弹出框说明提示*/
.dialogBtnRow span{
    position: absolute;
    left:1%
}

