/*分页查询表单中的选择单位或部门组件按钮*/
.lookupCompanyDepartmentBtn > a {
    position: relative;
    left: 96%;
}

.lookupCompanyDepartmentBtn > span {
    padding-right:20px;
}

/*查询找回组件*/
.lookupBtn {
    position: relative;
    left: 150px;
}
.lookupInput{
    position: relative;
    left:-25px;
}
.lookupDateInput{
    position: relative;
    left:-16px;
}
/*.lookupBtn >td:first-child{*/
    /*padding-right:10px;*/
/*}*/



/*树形选择组件*/
.lookupTree {
    position: relative;
}

.lookupTree > div {
    border: 1px solid #B8D0D6;
    position: absolute;
    margin:1px 1px;

}

.lookupTree > div:first-child {
    left: 7px;
}

.lookupTree > div:last-child {
    right: 7px;
}

.lookupTree div > span:first-child {
    overflow: hidden;
    height: 14px;
    padding: 2px 5px 2px 20px;
    line-height: 14px;
    background: url("../default/images/dialog/chart_organisation.png") no-repeat;
    font-weight: bold;
}

.lookupTree div > ul {
    height: 100%;
    overflow: auto;
    margin: 2px;
}

/*单位与部门选择组件*/
.lookupCompanyDepartmentTree {
    position: relative;
}

.lookupCompanyDepartmentTree > div {
    border: 1px solid #B8D0D6;
    position: absolute;
    padding: 10px;
    width: 261px;

}

.lookupCompanyDepartmentTree > div:first-child {
    left: 7px;
}

.lookupCompanyDepartmentTree > div:last-child {
    right: 7px;
}

.lookupCompanyDepartmentTree div > span:first-child {
    overflow: hidden;
    height: 14px;
    padding: 2px 5px 2px 20px;
    line-height: 14px;
    background: url("../default/images/dialog/chart_organisation.png") no-repeat;
    font-weight: bold;
}

.lookupCompanyDepartmentTree div > ul {
    height: 336px;
    overflow: auto;
    margin: 2px;
}

/*弹出框的按钮行*/
.dialogBtnRow {
    position: relative;
}

/*弹出框说明提示*/
.dialogBtnRow span {
    position: absolute;
    left: 1%;
    color:#183152;
    font-weight:bold;
}

/*时间选择中的结束时间标识*/
.inputDateEndLabel{
    padding-right:5px !important;
}
/*时间选择框中的年份、月份*/
#calendar .head select{
    width:65px;
}