<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描包下所有的类，让标注Spring注解的类生效 -->
    <context:component-scan base-package="net.deniro"/>

    <!--引用外部属性文件-->
    <context:property-placeholder location="classpath*:system.properties"/>

    <!-- Spring 上下文环境工具-->
    <bean class="net.deniro.land.common.utils.SpringContextUtils"/>

    <!-- Spring容器加载所有Bean后，执行的处理器-->
    <bean class="net.deniro.land.common.spring.AfterAllBeanInitProcessor"/>

    <!-- 读取配置文件管理器-->
    <bean id="resourceBundleMessageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>system</value>
            </list>
        </property>
    </bean>

</beans>