<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>deniro-land</display-name>

    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>deniro.land</param-value>
    </context-param>

    <!--log4j配置-->
    <!-- 指定Log4j配置文件位置-->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>WEB-INF/classes/log4j.properties</param-value>
    </context-param>
    <!-- 每60秒扫描一下配置文件的变化-->
    <context-param>
        <param-name>log4jRefreshInterval</param-name>
        <param-value>60000</param-value>
    </context-param>
    <!-- Log4jConfigListener必须放置在ContextLoaderListener前面-->
    <!-- 因为WebApplicationContext需要使用日志功能-->
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <!-- 通过Spring Web容器监听器引导-->
    <!-- 指定配置文件-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:spring/spring.xml</param-value>
    </context-param>
    <!-- 声明Web容器监听器-->
    <!-- 通过contextConfigLocation参数获取Spring配置文件的位置，支持带资源类型前缀的路径配置-->
    <!-- 只监听Web容器启动和关闭事件-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>


    <!--展示Druid的统计信息-->
    <!--提供监视信息展示的html页面-->
    <!--提供监视信息的JSON API-->
    <servlet>
        <servlet-name>DruidStatView</servlet-name>
        <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>

        <!--deny优先于allow，如果在deny列表中，就算在allow列表中，也会被拒绝。-->
        <!--如果allow没有配置或者为空，则允许所有访问-->
        <!--允许访问的IP地址-->
        <init-param>
            <param-name>allow</param-name>
            <param-value>127.0.0.1</param-value>
        </init-param>
        <!--不允许访问的IP地址-->
        <init-param>
            <param-name>deny</param-name>
            <param-value>192.168.19.7</param-value>
        </init-param>

        <!--关闭重置按钮-->
        <!--重置后会导致所有计数器清零，重新计数-->
        <init-param>
            <param-name>resetEnable</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DruidStatView</servlet-name>
        <url-pattern>/druid/*</url-pattern>
    </servlet-mapping>

    <!-- 默认自动加载/WEB-INF/deniro-servlet.xml -->
    <servlet>
        <servlet-name>deniro</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:spring/spring-mvc*.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>deniro</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- 验证码-->
    <servlet>
        <servlet-name>StickyCaptcha</servlet-name>
        <servlet-class>net.deniro.land.common.captcha.CustomCaptchaServlet</servlet-class>
        <init-param>
            <param-name>width</param-name>
            <param-value>75</param-value>
        </init-param>
        <init-param>
            <param-name>height</param-name>
            <param-value>24</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>StickyCaptcha</servlet-name>
        <url-pattern>/stickyImg</url-pattern>
    </servlet-mapping>

    <!--UTF-8字符集-->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 将Hibernate Session绑定到请求线程中，解决延迟加载数据的访问异常问题-->
    <filter>
        <filter-name>hibernateFilter</filter-name>
        <filter-class>net.deniro.land.common.spring.hibernate.OpenSessionInViewFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>hibernateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 用于采集web-jdbc关联监控的数据-->
    <filter>
        <filter-name>DruidWebStatFilter</filter-name>
        <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>

        <!-- 排除不必要的URL-->
        <init-param>
            <param-name>exclusions</param-name>
            <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
        </init-param>

        <!-- 最大统计数配置-->
        <init-param>
            <param-name>sessionStatMaxCount</param-name>
            <param-value>1000</param-value>
        </init-param>

        <!-- 是否开启session统计功能-->
        <init-param>
            <param-name>sessionStatEnable</param-name>
            <param-value>true</param-value>
        </init-param>

        <!-- 设置当前的session账号对象-->
        <init-param>
            <param-name>principalSessionName</param-name>
            <param-value>user</param-value>
        </init-param>

        <!-- 是否开启监控单个url调用的sql列表-->
        <init-param>
            <param-name>profileEnable</param-name>
            <param-value>true</param-value>
        </init-param>

    </filter>
    <filter-mapping>
        <filter-name>DruidWebStatFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



    <!-- 新增欢迎页（登录页）-->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>